.img{
    z-index: 1;
    height: auto;
    
}
.btns{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.slider{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    margin: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgb(10, 10, 10);
    cursor: pointer;
    z-index: 5;
}

.load   {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px ;
    background-color: pink;
}
.center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn span{
    left:  3px;
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: white;
}

.btn:last-child{
    transform: rotate(180deg) ;
   
}
.btn span:first-child{
    transform: rotate(-45deg) translateX(5px);
}

.btn span:last-child{
    transform: rotate(45deg) translateX(5px);
}

.btn:last-child span:first-child{
    transform: rotate(45deg) translateX(5px);
}
.btn:last-child span:last-child{
    transform: rotate(-45deg) translateX(5px);
}

@media (hover : hover) {
    .btn:hover{
        background-color: white;
    }
    .btn:hover span{
        background-color: rgb(10, 10, 10);
    }
}

@media (min-width:750px) {
    .btn{
        margin:  0 50px;
        width: 35px;
        height: 35px;
    }
    .btn span{
        left:  6px;
        width: 15px;
        height: 2px;
    }

    .btn span:first-child{
        transform: rotate(-45deg) translateX(5px) translateY(-2px);
    }
    
    .btn span:last-child{
        transform: rotate(45deg) translateX(5px) translateY(2px);
    }

    .btn:last-child span:first-child{
        transform: rotate(45deg) translateX(5px) translateY(2px);
    }
    .btn:last-child span:last-child{
        transform: rotate(-45deg) translateX(5px) translateY(-2px);
    }
}