.box{
    max-width: auto;
    display: flex;
    overflow: hidden;
    
}
.img{
    flex-shrink: 0;
    animation: slide 20s infinite ;
}
@keyframes slide {
    0%,25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-300%);
    }
}