.btn{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 10px 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    text-align: center;
}

.fleche{
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
}
.span{
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    width: 10px;
    height: 3px;
}

.span:first-child{
    height: 2px;
    transform: rotate(-40deg) translateY(4px) ;
}
.span:last-child{
    height: 2px;
    transform: rotate(40deg) translateY(-4px) ;
}


@media (hover : hover) {
    .btn:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    .btn:hover .span{
        background-color: black;
    }
}



@media (min-width : 450px){
    .btn{
        width: 250px;
    }
}