@font-face {
    font-family: mano;
    src: url("../../public/font/allura-regular.ttf");
  }

  @font-face {
    font-family: inter;
    src: url("../../public/font/Inter.ttf");
  }

:root {
  --gris : #b5b5b5;
  --d8 : #8d8d8d;
  --border : #eaeaea ;
  --ed : #ededed ;

  
}
body{
margin: 0;
}
input{
  background-color: white;
}