
.phone{
    padding:5px 20px;
    width: 150px;
    border:  1px solid rgb(10, 10, 10, 0.4);
}
.case{
    display: flex;
    flex-direction: column;

}.hey{
   display: flex;
   align-items: center;

}