.indicatif{
    width: 30px;
    border:  1px solid rgb(10, 10, 10, 0.4);
    padding: 2px 0;
    height: 25px;
    padding-left: 5px;
}
.phone{
    padding:2px 0;
    padding-left: 5px;
    height: 25px;
    width: 150px;
    border:  1px solid rgb(10, 10, 10, 0.4);
    border-left: none;
}
.case{
    display: flex;
    flex-direction: column;

}.hey{
   display: flex;
   align-items: center;

}