.main{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
    
}
.container{
    margin: 20px 0;
}
.container_desc{
    color: red  ;
}
.underline{
    text-decoration: underline;
}
.li{
    text-align: start;
    margin: 10px 0;
}
.tabl_top{
    background-color: black ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 10px;
}
.tabl_top_line{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 70%;
    height: 2px;
}
.tabl_top_p, .tabl_top_pp{
    margin:5px  0;
}
.tabl_top_h2{
    margin: 10px 0;
}
.tabl_top_p:last-child{
    font-size: .7em;
}
.tabl_li{
    padding: 0 10px;
    border-top: 1px solid white;
}
.tabl_li:first-child{
    
    border: none;
}
.tabl_ul{
    list-style: none;
    padding: 0;
    background-color: #ededed;
    padding: 10px;
    
}
.tabl_element{
    margin: 10px 0;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;

}
.tabl_element:first-child, .tabl_element:nth-child(4) {
    font-weight: bold;
}



@media (min-width: 768px) {
    .main{margin: 0 30px;}
    .tabl_li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 30px 20px;
    }
    .tabl_element{
        width: 120px;
    }
    .li{
        padding: 20px;
        border-top: 1px solid #ededed;
    }
}

@media(min-width: 1024px){
    .main{
        margin: 0 60px;
    }
    .tabl_li{
        padding: 30px 50px;
    }
}