.section{
    position: relative;
    z-index: 0;
}

.command{
    position: absolute;
    top :35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn{
    background-color: black;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: white;
}
.btn:first-child{
    transform: rotate(180deg);
}

.box_line{
    position: relative;
}
.line{
    content: "";
    display: block;
    width: 14px;
    height: 2px;

    background-color: white;
}
.line:first-child{
    transform: rotate(45deg)translateY(-5px);
}
.line:last-child{
    transform: rotate(-45deg) translateY(5px);
}

@media (min-width:768px){
    .command{
        top: 45%;
    }
}
@media (min-width:1024px){
    .command{
        top: 50%;
    }
}