.div{
    width: 300px;
    padding:20px 0;
    border-radius: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid blue;
    border-left: 1px solid yellow;
    border-top: 1px solid green;
    display: flex;
    justify-content: center;
    animation: circule;
}

@keyframes circule {
    0%{
        
    }
}